<div class="fixed inset-0 z-40 bg-black/2 backdrop-blur-[4px]" (click)="close.emit()"></div>

<div class="fixed z-50 inset-0 flex items-center justify-center p-4" role="dialog" aria-modal="true">
  <div class="w-full max-w-md rounded-lg border border-custom bg-custom-background text-custom p-4"
       (click)="$event.stopPropagation()">
    <div class="flex items-center justify-between mb-3">
      <h3 class="font-semibold">Nueva conexión</h3>
      <button class="hover:text-custom" type="button" (click)="close.emit()">✕</button>
    </div>

    <form class="space-y-3" (ngSubmit)="submit()">
      <div>
        <label class="block text-sm mb-1">Nombre del proyecto</label>
        <input class="w-full focus:outline-none border border-custom rounded p-2 bg-label text-custom"
               [(ngModel)]="model.connection_name" name="connection_name" required />
      </div>

      <div>
        <label class="block text-sm mb-1">Tipo de base</label>
        <select class="w-full border border-custom rounded p-2 bg-label text-custom"
                [(ngModel)]="model.type" name="type">
          <option value="postgresql">PostgreSQL</option>
          <option value="sqlserver">SQL Server</option>
          <option value="mysql">MySQL</option>
          <option value="oracle">Oracle SQL</option>
        </select>
      </div>

      <div class="grid grid-cols-2 gap-3">
        <div>
          <label class="block text-sm mb-1">Host</label>
          <input class="w-full focus:outline-none border border-custom rounded p-2 bg-label text-custom"
                 [(ngModel)]="model.host" name="host" />
        </div>
        <div>
          <label class="block text-sm mb-1">Puerto</label>
          <input type="number" class="w-full focus:outline-none border border-custom rounded p-2 bg-label text-custom"
                 [(ngModel)]="model.port" name="port" />
        </div>
      </div>

      <div class="grid grid-cols-2 gap-3">
        <div>
          <label class="block text-sm mb-1">Base de datos</label>
          <input class="w-full focus:outline-none border border-custom rounded p-2 bg-label text-custom"
                 [(ngModel)]="model.database" name="database" required />
        </div>
        <div>
          <label class="block text-sm mb-1">Usuario</label>
           <input class="w-full focus:outline-none border border-custom rounded p-2 bg-label text-custom"
                 [(ngModel)]="model.username" name="username" />
        </div>
      </div>

      <div>
        <label class="block text-sm mb-1">Contraseña</label>
        <input type="password" class="w-full focus:outline-none border border-custom rounded p-2 bg-label text-custom"
               [(ngModel)]="model.password" name="password" />
      </div>

      <div *ngIf="errorMessage" class="p-3 bg-red-800/20 text-red-400 border border-red-700 rounded-lg text-sm font-medium">
        {{ errorMessage }}
      </div>

      <div class="flex justify-end gap-2 pt-2">
        <button type="button" class="px-3 py-2 rounded bg-label text-custom cursor-pointer" (click)="close.emit()">
          Cancelar
        </button>
        <button type="submit" class="px-3 py-2 rounded bg-primary text-white hover:bg-primary-hover cursor-pointer w-32" [disabled]="isLoading">
          <span *ngIf="!isLoading">Crear pestaña</span>
          <span *ngIf="isLoading" class="flex items-center justify-center">
            <svg class="animate-spin -ml-1 mr-2 h-4 w-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
            Conectando...
          </span>
        </button>
      </div>
    </form>
  </div>
</div>
