/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/inter/inter-v19-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/inter/inter-v19-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/inter/inter-v19-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/inter/inter-v19-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Inter', sans-serif;
}

:root {
  --color-background: #f8f8f8;
  --color-surface: #FFFFFF;
  --color-primary: #51A2FF;
  --color-primary-hover: #2B7FFF;
  --color-secondary: #e7f5ff;
  --color-text: #0c1934;
  --color-text-muted: #6B7280;
  --color-accent-green: #22C55E;
  --color-accent-purple: #8B5CF6;
  --color-accent-orange: #F97316;
  --color-accent-blue-light: #DBEAFE;
  --color-border: #D1D5DB;
  --color-background-label: #f2f2f2;
  --color-icon: #2B7FFF;
  --tab-border: var(--color-border);
  --tab-border-active: var(--color-primary);
}

body.dark {
  --color-background: #1F2937;
  --color-surface: #273044;
  --color-primary: #3493ff;
  --color-primary-hover: #2B7FFF;
  --color-secondary: #445878;
  --color-text: #F3F4F6;
  --color-text-muted: #9CA3AF;
  --color-accent-green: #22C55E;
  --color-accent-purple: #8B5CF6;
  --color-accent-orange: #F97316;
  --color-accent-blue-light: #1E3A8A;
  --color-border: #4B5563;
  --color-background-label: #364153;
  --color-icon: #2B7FFF;
  --tab-border: var(--color-border);
  --tab-border-active: var(--color-primary);
}

/* Background colors */
.bg-custom-background {
  background-color: var(--color-background);
}
.bg-custom-surface {
  background-color: var(--color-surface);
}
.bg-primary {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.bg-accent-green {
  background-color: var(--color-accent-green);
}
.bg-accent-purple {
  background-color: var(--color-accent-purple);
}
.bg-accent-orange {
  background-color: var(--color-accent-orange);
}
.bg-accent-blue-light {
  background-color: var(--color-accent-blue-light);
}
.bg-label {
  background-color: var(--color-background-label);
}

/* Hover Backgrounds */
.hover\:bg-primary-hover:hover {
  background-color: var(--color-primary-hover);
}
.bg-secondary-hover:hover {
  background-color: var(--color-secondary);
}
.bg-accent-green-hover:hover {
  background-color: var(--color-accent-green);
}
.bg-accent-purple-hover:hover {
  background-color: var(--color-accent-purple);
}
.bg-accent-orange-hover:hover {
  background-color: var(--color-accent-orange);
}
.bg-accent-blue-light-hover:hover {
  background-color: var(--color-accent-blue-light);
}
.bg-label-hover:hover {
  background-color: var(--color-background-label);
}

/* Text colors */
.text-custom {
  color: var(--color-text);
}
.text-muted {
  color: var(--color-text-muted);
}
.text-primary {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-accent-green {
  color: var(--color-accent-green);
}
.text-accent-purple {
  color: var(--color-accent-purple);
}
.text-accent-orange {
  color: var(--color-accent-orange);
}
.text-accent-blue-light {
  color: var(--color-accent-blue-light);
}

/* Borders */
.border-custom {
  border-color: var(--color-border);
}
.border-primary {
  border-color: var(--color-primary);
}
.border-secondary {
  border-color: var(--color-secondary);
}
.border-accent-green {
  border-color: var(--color-accent-green);
}
.border-accent-purple {
  border-color: var(--color-accent-purple);
}
.border-accent-orange {
  border-color: var(--color-accent-orange);
}
.border-accent-blue-light {
  border-color: var(--color-accent-blue-light);
}

/* style scoll */
.custom-scroll {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--color-border) transparent;

  /* Safari and navigators WebKit */
  -webkit-overflow-scrolling: touch;
}

/* WebKit (Chrome, Edge, Safari) */
.custom-scroll::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  transition: all 0.2s ease;
}

.custom-scroll:hover::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
  border-radius: 4px;
}

.custom-scroll:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
}

/* Firefox hover */
.custom-scroll:hover {
  scrollbar-color: var(--color-border) transparent;
}

.text-icon-color {
  color: var(--color-icon);
}