<aside class="w-64 bg-custom-background border-r border-custom h-screen flex flex-col">

  <div class="p-4">
    <h1 class="text-lg font-semibold text-custom">DictSQL</h1>
    <p class="text-sm text-muted">Database Documentation</p>
  </div>

  <div class="flex p-2 gap-2 justify-center">
    <button class="flex w-fit text-left p-1 text:center text-custom rounded hover:bg-gray-100 hover:cursor-pointer">New</button>
    <button class="flex w-fit text-left p-1 text:center text-custom rounded hover:bg-gray-100 hover:cursor-pointer">Open</button>
    <button class="flex w-fit text-left p-1 text:center text-custom rounded hover:bg-gray-100 hover:cursor-pointer">Save</button>
    <button class="flex w-fit text-left p-1 text:center text-custom rounded hover:bg-gray-100 hover:cursor-pointer">Settings</button>
  </div>

</aside>
