<div
  class="bg-custom-background border border-custom rounded-2xl p-8 max-w-md w-full mt-10 shadow-2xl flex flex-col gap-8"
>
  <div class="text-center">
    <h2 class="text-3xl font-extrabold text-blue-500">{{ 'AUTH.LOGIN.TITLE' | translate }}</h2>
    <p class="text-gray-400 mt-2 text-sm">
      {{ 'AUTH.LOGIN.SUBTITLE' | translate }}<span class="text-blue-500 font-semibold ml-1">DictSQL</span>
    </p>
  </div>

  <form (ngSubmit)="login()" class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
      <label class="text-sm text-gray-300 font-medium" for="email-input">
        {{ 'AUTH.LOGIN.EMAIL' | translate}}
      </label>
      <input
        id="email-input"
        class="border border-custom rounded-lg p-3 bg-label text-custom placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent transition"
        type="email" 
        placeholder="tu@email.com"
        required
        name="email"
        [(ngModel)]="credentials.email" />

      <label class="text-sm text-gray-300 font-medium" for="password-input">
        {{ 'AUTH.LOGIN.PASSWORD' | translate}}
      </label>
      <input
        id="password-input"
        class="border border-custom rounded-lg p-3 bg-label text-custom placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent transition"
        type="password"
        placeholder="••••••••"
        required
        name="password"
        [(ngModel)]="credentials.password" />
    </div>

    <div *ngIf="errorMessage" class="p-3 bg-red-800/20 text-red-400 border border-red-700 rounded-lg text-sm font-medium">
      {{ errorMessage }}
    </div>

    <button
      type="submit"
      class="mt-2 py-3 rounded-lg bg-blue-400 text-white font-semibold hover:bg-blue-500 transition hover:cursor-pointer"
    >
      {{ 'AUTH.LOGIN.BUTTON' | translate}}
    </button>
  </form>

  <p class="text-sm text-center text-gray-400">
    {{ 'AUTH.LOGIN.NO_ACCOUNT' | translate}}
    <a [routerLink]="['/auth/signup']" class="text-blue-500 hover:underline font-medium"> 
      {{ 'AUTH.LOGIN.SIGNUP' | translate }}
    </a>
  </p>
</div>